.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    padding: 40px !important;
    overflow: hidden;
    box-sizing: border-box;
    background:
    radial-gradient(circle at 20% 30%, rgba(59, 130, 246, 0.15), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(168, 85, 247, 0.15), transparent 40%),
    radial-gradient(circle at 50% 50%, rgba(0, 255, 255, 0.05), transparent 50%),
    linear-gradient(135deg, #0f172a, #020617);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.resultTitle{
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: left;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.resultSubtitle{
    color: gray;
    font-size: 15px;
    width: 100%;
    text-align: left;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.summaryContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
}

.summaryButton {
    width: 100%;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.summaryIcon {
    margin: 0;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
}

.summaryText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    p {
        margin: 0;
        padding: 0;
        text-align: left;
    }
}

.summaryTitle {
    font-size: 10px;
}

.summaryNumber {
    font-size: 15px;
}

.summaryButton.green{
    border: 1px solid #315146;
    background-color: #1B2A2C;

    .summaryIcon {
        background-color: #284A40;
    }

    .summaryNumber {
        color: #74CD9E;
    }
}

.summaryButton.blue{
    border: 1px solid #354875;
    background-color: #1F273D;

    .summaryIcon {
        background-color: #2C3A5C;
    }

    .summaryNumber {
        color: #4762A8;
    }
}

.summaryButton.purple{
    border: 1px solid #5C5894;
    background-color: #28263C;

    .summaryIcon {
        background-color: #423663;
    }

    .summaryNumber {
        color: #C9A2F2;
    }
}

.summaryButton.gray{
    border: 1px solid #2D333F;
    background-color: #1E232E;

    .summaryIcon {
        background-color: #393F4C;
    }

    .summaryTitle {
        color: white;
        font-size: 15px;
    }
}

.defaultContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #2F323E;
    border-radius: 2%;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    background:
    radial-gradient(circle at 20% 30%, rgba(59, 130, 246, 0.15), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(168, 85, 247, 0.15), transparent 40%),
    radial-gradient(circle at 50% 50%, rgba(0, 255, 255, 0.05), transparent 50%),
    linear-gradient(135deg, #1E232E, #1E232E);
}

.defaultContainerTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.defaultContainerTitle .title{
    color: white;
    font-size: medium;
    margin: 0;
}

.defaultContainerEmphasis {
    align-items: center;
    border-radius: 20px;
    padding: 2px 15px;
    width: auto;
    height: 100%;
    font-size: 12px;
}

.defaultContainerEmphasis.defaultColor {
    color: #8BB0E3;
    background-color: #242F47;
}

.defaultContainerEmphasis.refactoredColor {
    color: #86BDA5;
    background-color: #203831;
}

.defaultContainer .subtitle{
    color: #AAAFBB;
    font-size: small;
    margin: 0;
}

.diagnosisContainer {
    
}

.diagnosisItensContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.diagnosisItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    background-color: #252934;
    border: 1px solid #2F323E;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.diagnosisText {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    width: 100%;

    p {
        margin: 0;
        padding: 0;
        text-align: start;
    }
}

.diagnosisIssue {
    color: white;
    font-size: 15px;
}

.diagnosisExplanation {
    font-size: 12px;
    line-height: 15px;
}

.impact {
    align-items: center;
    border-radius: 20px;
    padding: 2px 5px;
    width: 100px;
    font-size: 15px;
}

.impact.low {
    color: rgb(19, 180, 19);
    border: 1px solid rgb(19, 180, 19);
    background-color: rgba(0, 128, 0, 0.6);
}

.impact.medium {
    color: yellow;
    border: 1px solid yellow;
    background-color: rgba(255, 255, 0, 0.603);
}

.impact.high {
    color: rgb(236, 55, 55);
    border: 1px solid rgb(236, 55, 55);
    background-color: rgba(255, 0, 0, 0.603);
}

.refactoredCodeContainer {
    border: 2px solid green;
}

.futureSuggestionContainer {
    border: 2px solid blue;
}

.codeContainer {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.improvementsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.improvementsItensContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #1F232C;
    border: 1px solid #272B36;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.improvementsItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.improvementsText {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    width: 100%;

    p {
        margin: 0;
        padding: 0;
        text-align: start;
    }
}

.improvementsTitle {
    color: white;
    font-size: 15px;
}

.improvementsDescription {
    font-size: 12px;
    line-height: 15px;
}

.improvementsCriteria {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.futureSuggestionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 300px;
}

.futureSuggestionsItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    background-color: #2F2C45;
    border: 1px solid #2F323E;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.futureSuggestionsText {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    width: 100%;

    p {
        margin: 0;
        padding: 0;
        text-align: start;
    }
}

.futureSuggestionsTitle {
    color: white;
    font-size: 15px;
}

.futureSuggestionsDescription {
    font-size: 12px;
    line-height: 15px;
}