.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.refactored-code-container {
    border: 2px solid green;
}

.future-suggestion-container {
    border: 2px solid blue;
}

.improvements-container {
    border: 2px solid red;
}

.diagnosis-container {
    border: 2px solid peru;
}