.main-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: center;
}

.editor-wrapper {
    position: relative;
    width: 100%;
}

.placeholder {
    position: absolute;
    left: 65px;
    color: green;
    pointer-events: none;
    font-size: 14px;
    font-family: monospace;
    z-index: 10;
}

.select-language {
    width: 100%;
    max-width: 400px;
    text-align: center;
}