.header {
    width: 100%;
    border-bottom: 2px solid #3A4055;
    border-top: 2px solid #3A4055;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    box-sizing: border-box;
    height: 80px;
    background:
    radial-gradient(circle at 20% 30%, rgba(59, 130, 246, 0.15), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(168, 85, 247, 0.15), transparent 40%),
    radial-gradient(circle at 50% 50%, rgba(0, 255, 255, 0.05), transparent 50%),
    linear-gradient(135deg, #0f172a, #020617);
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    p {
        margin: 0;
        padding: 0;
        font-size: 25px;
    }

    .headerBlueTitle {
        color: #5E8BF4;
    }
}

.headerLinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

    .link {
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: gray;
        text-decoration: none;
    }
}

@media (width > 900px) {
    .header {
        padding: 15px 200px;
    }
    .container {
        padding: 15px 200px;
    }
    .footer {
        padding: 15px 200px;
    }
}

@media (width > 1500px) {
    .header {
        padding: 15px 300px;
    }
    .container {
        padding: 15px 300px;
    }
    .footer {
        padding: 15px 300px;
    }
}

